
html{
    text-align: center;
}

header{
    background-color: white;
    color: black;
    padding: 10px;
    text-align: center;
    font-family: Comic Sans MS
}

section{
    text-align: center;
}

p{
    color: black;
}

.foto{
    width: 300px;
}
